#main-container{
    display:flex;
}

body {
    width: 99%;
}
#side-content{
    width:30%;
}

#photo-container{
    display:grid;
    width:70%;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.photo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo {
    grid-column: span 3;
}